body {
    background-color: #f8f9fa;
    color: #333;
}

.hero-section {
    background: url('../../../view/assets/welcome.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    position: relative;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-section h1 {
    z-index: 1;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #fff;
}

.about-section img,
.card img {
    border: 3px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card,.box-shadow {
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    background-color: #fff;
}

.card h5 {
    color: #007bff;
}

.card-body {
    background-color: #f8f9fa;
}

.container ul {
    padding-left: 20px;
}

.container ul li {
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    .hero-section h1 {
        font-size: 2rem;
        padding: 0 15px;
        text-align: center;
    }
}