.form-container {
    width: 600px;
    height: 600px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f8f9fa;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container .form-label {
    margin-bottom: 5px;
}
.form-container .btn-primary {
    width: 100%;
}
.form-container .btn-danger {
    width: 100%;
    margin-top: 10px;
}
.total-pembayaran {
    font-size: 1.2em;
    font-weight: bold;
}